{
  "openapi": "3.1.0",
  "info": {
    "title": "Polar API",
    "summary": "Polar HTTP and Webhooks API",
    "description": "Read the docs at https://polar.sh/docs/api-reference",
    "version": "2026-04"
  },
  "servers": [
    {
      "url": "https://api.polar.sh/v1",
      "description": "Production environment",
      "x-speakeasy-server-id": "production",
      "x-polar-environment": "production"
    },
    {
      "url": "https://sandbox-api.polar.sh/v1",
      "description": "Sandbox environment",
      "x-speakeasy-server-id": "sandbox",
      "x-polar-environment": "sandbox"
    }
  ],
  "paths": {
    "/organizations/": {
      "get": {
        "tags": [
          "organizations",
          "public"
        ],
        "summary": "List Organizations",
        "description": "List organizations.\n\n**Scopes**: `organizations:read` `organizations:write`",
        "operationId": "organizations:list",
        "security": [
          {
            "oidc": [
              "organizations:read",
              "organizations:write"
            ]
          },
          {
            "pat": [
              "organizations:read",
              "organizations:write"
            ]
          },
          {
            "oat": [
              "organizations:read",
              "organizations:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by slug.",
              "title": "Slug"
            },
            "description": "Filter by slug."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Page number, defaults to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Size of a page, defaults to 10. Maximum is 100.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Size of a page, defaults to 10. Maximum is 100."
          },
          {
            "name": "sorting",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationSortProperty"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
              "default": [
                "created_at"
              ],
              "title": "Sorting"
            },
            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResource_Organization_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "page",
              "in": "parameters",
              "type": "page"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.items",
            "numPages": "$.pagination.max_page"
          }
        },
        "x-speakeasy-group": "organizations",
        "x-speakeasy-name-override": "list_organizations",
        "x-polar-pagination": {
          "type": "page_limit",
          "item_schema": {
            "$ref": "#/components/schemas/Organization"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nfor item in polar.organizations.iter_list(\n    page=1,\n    limit=10,\n    sorting=['created_at'],\n):\n    print(item)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nfor await (const item of polar.organizations.iterList(\n  {\n    \"page\": 1,\n    \"limit\": 10,\n    \"sorting\": [\n      \"created_at\"\n    ]\n  },\n)) {\n  console.log(item);\n}\n"
          }
        ]
      },
      "post": {
        "tags": [
          "organizations",
          "public"
        ],
        "summary": "Create Organization",
        "description": "Create an organization.\n\n**Scopes**: `organizations:write`",
        "operationId": "organizations:create",
        "security": [
          {
            "oidc": [
              "organizations:write"
            ]
          },
          {
            "pat": [
              "organizations:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CannotCreateOrganizationError"
                }
              }
            },
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "User"
        ],
        "x-speakeasy-group": "organizations",
        "x-speakeasy-name-override": "create",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.organizations.create(\n    name='string',\n    slug='string',\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.organizations.create(\n  {\n    \"name\": \"string\",\n    \"slug\": \"string\"\n  },\n);\nconsole.log(response);\n"
          }
        ]
      }
    },
    "/organizations/{id}": {
      "get": {
        "tags": [
          "organizations",
          "public"
        ],
        "summary": "Get Organization",
        "description": "Get an organization by ID.\n\n**Scopes**: `organizations:read` `organizations:write`",
        "operationId": "organizations:get",
        "security": [
          {
            "oidc": [
              "organizations:read",
              "organizations:write"
            ]
          },
          {
            "pat": [
              "organizations:read",
              "organizations:write"
            ]
          },
          {
            "oat": [
              "organizations:read",
              "organizations:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "examples": [
                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
              ],
              "description": "The organization ID.",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "organizations",
        "x-speakeasy-name-override": "get",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.organizations.get(\n    '1dbfc517-0bbf-4301-9ba8-555ca42b9737',\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.organizations.get(\n  \"1dbfc517-0bbf-4301-9ba8-555ca42b9737\",\n);\nconsole.log(response);\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "organizations",
          "public"
        ],
        "summary": "Update Organization",
        "description": "Update an organization.\n\n**Scopes**: `organizations:write`",
        "operationId": "organizations:update",
        "security": [
          {
            "oidc": [
              "organizations:write"
            ]
          },
          {
            "pat": [
              "organizations:write"
            ]
          },
          {
            "oat": [
              "organizations:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "examples": [
                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
              ],
              "description": "The organization ID.",
              "title": "Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "403": {
            "description": "You don't have the permission to update this organization, or dispute auto-accept isn't enabled for it.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/NotPermitted"
                    },
                    {
                      "$ref": "#/components/schemas/DisputeAutoAcceptNotEnabled"
                    }
                  ],
                  "title": "Response 403 Organizations:Update"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "409": {
            "description": "Cannot enforce SSO without an enabled connection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SSOEnforcementRequiresConnection"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "organizations",
        "x-speakeasy-name-override": "update",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.organizations.update(\n    '1dbfc517-0bbf-4301-9ba8-555ca42b9737',\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.organizations.update(\n  \"1dbfc517-0bbf-4301-9ba8-555ca42b9737\",\n  {},\n);\nconsole.log(response);\n"
          }
        ]
      }
    },
    "/subscriptions/": {
      "get": {
        "tags": [
          "subscriptions",
          "public"
        ],
        "summary": "List Subscriptions",
        "description": "List subscriptions.\n\n**Scopes**: `subscriptions:read` `subscriptions:write`",
        "operationId": "subscriptions:list",
        "security": [
          {
            "oidc": [
              "subscriptions:read",
              "subscriptions:write"
            ]
          },
          {
            "pat": [
              "subscriptions:read",
              "subscriptions:write"
            ]
          },
          {
            "oat": [
              "subscriptions:read",
              "subscriptions:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "examples": [
                    "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                  ],
                  "description": "The organization ID."
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "examples": [
                      "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                    ],
                    "description": "The organization ID."
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "OrganizationID Filter",
              "description": "Filter by organization ID."
            },
            "description": "Filter by organization ID."
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "description": "The product ID."
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "description": "The product ID."
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "ProductID Filter",
              "description": "Filter by product ID."
            },
            "description": "Filter by product ID."
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "description": "The customer ID."
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "description": "The customer ID."
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "CustomerID Filter",
              "description": "Filter by customer ID."
            },
            "description": "Filter by customer ID."
          },
          {
            "name": "external_customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "description": "The customer external ID."
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The customer external ID."
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "ExternalCustomerID Filter",
              "description": "Filter by customer external ID."
            },
            "description": "Filter by customer external ID."
          },
          {
            "name": "discount_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "description": "The discount ID."
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "description": "The discount ID."
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "DiscountID Filter",
              "description": "Filter by discount ID."
            },
            "description": "Filter by discount ID."
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by active or inactive subscription.",
              "deprecated": true,
              "title": "Active"
            },
            "description": "Filter by active or inactive subscription.",
            "deprecated": true
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SubscriptionStatus"
                },
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubscriptionStatus"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status Filter",
              "description": "Filter by subscription status."
            },
            "description": "Filter by subscription status."
          },
          {
            "name": "cancel_at_period_end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by subscriptions that are set to cancel at period end.",
              "title": "Cancel At Period End"
            },
            "description": "Filter by subscriptions that are set to cancel at period end."
          },
          {
            "name": "customer_cancellation_reason",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/CustomerCancellationReason"
                },
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerCancellationReason"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "CustomerCancellationReason Filter",
              "description": "Filter by customer cancellation reason."
            },
            "description": "Filter by customer cancellation reason."
          },
          {
            "name": "canceled_at_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by cancellation date (after or equal to).",
              "title": "Canceled At After"
            },
            "description": "Filter by cancellation date (after or equal to)."
          },
          {
            "name": "canceled_at_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by cancellation date (before or equal to).",
              "title": "Canceled At Before"
            },
            "description": "Filter by cancellation date (before or equal to)."
          },
          {
            "name": "started_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only include subscriptions started after this date.",
              "title": "Started After"
            },
            "description": "Only include subscriptions started after this date."
          },
          {
            "name": "started_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only include subscriptions started before this date.",
              "title": "Started Before"
            },
            "description": "Only include subscriptions started before this date."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Page number, defaults to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Size of a page, defaults to 10. Maximum is 100.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Size of a page, defaults to 10. Maximum is 100."
          },
          {
            "name": "sorting",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubscriptionSortProperty"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
              "default": [
                "-started_at"
              ],
              "title": "Sorting"
            },
            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
          },
          {
            "name": "metadata",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "schema": {
              "$ref": "#/components/schemas/MetadataQuery"
            },
            "description": "Filter by metadata key-value pairs. It uses the `deepObject` style, e.g. `?metadata[key]=value`."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResource_Subscription_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "page",
              "in": "parameters",
              "type": "page"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.items",
            "numPages": "$.pagination.max_page"
          }
        },
        "x-speakeasy-group": "subscriptions",
        "x-speakeasy-name-override": "list",
        "x-polar-pagination": {
          "type": "page_limit",
          "item_schema": {
            "$ref": "#/components/schemas/Subscription"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nfor item in polar.subscriptions.iter_list(\n    page=1,\n    limit=10,\n    sorting=['-started_at'],\n):\n    print(item)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nfor await (const item of polar.subscriptions.iterList(\n  {\n    \"page\": 1,\n    \"limit\": 10,\n    \"sorting\": [\n      \"-started_at\"\n    ]\n  },\n)) {\n  console.log(item);\n}\n"
          }
        ]
      },
      "post": {
        "tags": [
          "subscriptions",
          "public"
        ],
        "summary": "Create Subscription",
        "description": "Create a subscription programmatically.\n\nThis endpoint only allows to create subscription on free products.\nFor paid products, use the checkout flow.\n\nNo initial order will be created and no confirmation email will be sent.\n\n**Scopes**: `subscriptions:write`",
        "operationId": "subscriptions:create",
        "security": [
          {
            "oidc": [
              "subscriptions:write"
            ]
          },
          {
            "pat": [
              "subscriptions:write"
            ]
          },
          {
            "oat": [
              "subscriptions:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/SubscriptionCreateCustomer"
                  },
                  {
                    "$ref": "#/components/schemas/SubscriptionCreateExternalCustomer"
                  }
                ],
                "title": "Subscription Create"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "subscriptions",
        "x-speakeasy-name-override": "create",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.subscriptions.create(\n    product_id='d8dd2de1-21b7-4a41-8bc3-ce909c0cfe23',\n    customer_id='992fae2a-2a17-4b7a-8d9e-e287cf90131b',\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.subscriptions.create(\n  {\n    \"product_id\": \"d8dd2de1-21b7-4a41-8bc3-ce909c0cfe23\",\n    \"customer_id\": \"992fae2a-2a17-4b7a-8d9e-e287cf90131b\"\n  },\n);\nconsole.log(response);\n"
          }
        ]
      }
    },
    "/subscriptions/{id}": {
      "get": {
        "tags": [
          "subscriptions",
          "public"
        ],
        "summary": "Get Subscription",
        "description": "Get a subscription by ID.\n\n**Scopes**: `subscriptions:read` `subscriptions:write`",
        "operationId": "subscriptions:get",
        "security": [
          {
            "oidc": [
              "subscriptions:read",
              "subscriptions:write"
            ]
          },
          {
            "pat": [
              "subscriptions:read",
              "subscriptions:write"
            ]
          },
          {
            "oat": [
              "subscriptions:read",
              "subscriptions:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The subscription ID.",
              "title": "Id"
            },
            "description": "The subscription ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "404": {
            "description": "Subscription not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "subscriptions",
        "x-speakeasy-name-override": "get",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.subscriptions.get(\n    '00000000-0000-4000-8000-000000000000',\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.subscriptions.get(\n  \"00000000-0000-4000-8000-000000000000\",\n);\nconsole.log(response);\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "subscriptions",
          "public"
        ],
        "summary": "Update Subscription",
        "description": "Update a subscription.\n\n**Scopes**: `subscriptions:write`",
        "operationId": "subscriptions:update",
        "security": [
          {
            "oidc": [
              "subscriptions:write"
            ]
          },
          {
            "pat": [
              "subscriptions:write"
            ]
          },
          {
            "oat": [
              "subscriptions:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The subscription ID.",
              "title": "Id"
            },
            "description": "The subscription ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "402": {
            "description": "Payment required to apply the subscription update.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentFailed"
                }
              }
            }
          },
          "403": {
            "description": "Subscription is already canceled or will be at the end of the period, or is not active.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/AlreadyCanceledSubscription"
                    },
                    {
                      "$ref": "#/components/schemas/InactiveSubscription"
                    }
                  ],
                  "title": "Response 403 Subscriptions:Update"
                }
              }
            }
          },
          "404": {
            "description": "Subscription not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "409": {
            "description": "Subscription is pending an update.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionLocked"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "subscriptions",
        "x-speakeasy-name-override": "update",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.subscriptions.update(\n    '00000000-0000-4000-8000-000000000000',\n    product_id='d8dd2de1-21b7-4a41-8bc3-ce909c0cfe23',\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.subscriptions.update(\n  \"00000000-0000-4000-8000-000000000000\",\n  {\n    \"product_id\": \"d8dd2de1-21b7-4a41-8bc3-ce909c0cfe23\"\n  },\n);\nconsole.log(response);\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "subscriptions",
          "public"
        ],
        "summary": "Revoke Subscription",
        "description": "Revoke a subscription, i.e cancel immediately.\n\n**Scopes**: `subscriptions:write`",
        "operationId": "subscriptions:revoke",
        "security": [
          {
            "oidc": [
              "subscriptions:write"
            ]
          },
          {
            "pat": [
              "subscriptions:write"
            ]
          },
          {
            "oat": [
              "subscriptions:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The subscription ID.",
              "title": "Id"
            },
            "description": "The subscription ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "403": {
            "description": "This subscription is already revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlreadyCanceledSubscription"
                }
              }
            }
          },
          "404": {
            "description": "Subscription not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "409": {
            "description": "Subscription is pending an update.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionLocked"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "subscriptions",
        "x-speakeasy-name-override": "revoke",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.subscriptions.revoke(\n    '00000000-0000-4000-8000-000000000000',\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.subscriptions.revoke(\n  \"00000000-0000-4000-8000-000000000000\",\n);\nconsole.log(response);\n"
          }
        ]
      }
    },
    "/benefits/": {
      "get": {
        "tags": [
          "benefits",
          "public"
        ],
        "summary": "List Benefits",
        "description": "List benefits.\n\n**Scopes**: `benefits:read` `benefits:write`",
        "operationId": "benefits:list",
        "security": [
          {
            "oidc": [
              "benefits:read",
              "benefits:write"
            ]
          },
          {
            "pat": [
              "benefits:read",
              "benefits:write"
            ]
          },
          {
            "oat": [
              "benefits:read",
              "benefits:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "examples": [
                    "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                  ],
                  "description": "The organization ID."
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "examples": [
                      "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                    ],
                    "description": "The organization ID."
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "OrganizationID Filter",
              "description": "Filter by organization ID."
            },
            "description": "Filter by organization ID."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/BenefitType"
                },
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BenefitType"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "BenefitType Filter",
              "description": "Filter by benefit type."
            },
            "description": "Filter by benefit type."
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "description": "The benefit ID."
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "description": "The benefit ID."
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter IDs",
              "description": "Filter by benefit IDs."
            },
            "description": "Filter by benefit IDs."
          },
          {
            "name": "exclude_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "description": "The benefit ID."
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "description": "The benefit ID."
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "Exclude IDs",
              "description": "Exclude benefits with these IDs."
            },
            "description": "Exclude benefits with these IDs."
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Query",
              "description": "Filter by description."
            },
            "description": "Filter by description."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Page number, defaults to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Size of a page, defaults to 10. Maximum is 100.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Size of a page, defaults to 10. Maximum is 100."
          },
          {
            "name": "sorting",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BenefitSortProperty"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
              "default": [
                "-created_at"
              ],
              "title": "Sorting"
            },
            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
          },
          {
            "name": "metadata",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "schema": {
              "$ref": "#/components/schemas/MetadataQuery"
            },
            "description": "Filter by metadata key-value pairs. It uses the `deepObject` style, e.g. `?metadata[key]=value`."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResource_Benefit_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "page",
              "in": "parameters",
              "type": "page"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.items",
            "numPages": "$.pagination.max_page"
          }
        },
        "x-speakeasy-group": "benefits",
        "x-speakeasy-name-override": "list",
        "x-polar-pagination": {
          "type": "page_limit",
          "item_schema": {
            "$ref": "#/components/schemas/Benefit"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nfor item in polar.benefits.iter_list(\n    page=1,\n    limit=10,\n    sorting=['-created_at'],\n):\n    print(item)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nfor await (const item of polar.benefits.iterList(\n  {\n    \"page\": 1,\n    \"limit\": 10,\n    \"sorting\": [\n      \"-created_at\"\n    ]\n  },\n)) {\n  console.log(item);\n}\n"
          }
        ]
      },
      "post": {
        "tags": [
          "benefits",
          "public"
        ],
        "summary": "Create Benefit",
        "description": "Create a benefit.\n\n**Scopes**: `benefits:write`",
        "operationId": "benefits:create",
        "security": [
          {
            "oidc": [
              "benefits:write"
            ]
          },
          {
            "pat": [
              "benefits:write"
            ]
          },
          {
            "oat": [
              "benefits:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BenefitCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Benefit created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Benefit",
                  "title": "Benefit"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "benefits",
        "x-speakeasy-name-override": "create",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.benefits.create(\n    type='custom',\n    description='string',\n    properties={},\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.benefits.create(\n  {\n    \"type\": \"custom\",\n    \"description\": \"string\",\n    \"properties\": {}\n  },\n);\nconsole.log(response);\n"
          }
        ]
      }
    },
    "/benefits/{id}": {
      "get": {
        "tags": [
          "benefits",
          "public"
        ],
        "summary": "Get Benefit",
        "description": "Get a benefit by ID.\n\n**Scopes**: `benefits:read` `benefits:write`",
        "operationId": "benefits:get",
        "security": [
          {
            "oidc": [
              "benefits:read",
              "benefits:write"
            ]
          },
          {
            "pat": [
              "benefits:read",
              "benefits:write"
            ]
          },
          {
            "oat": [
              "benefits:read",
              "benefits:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The benefit ID.",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Benefit",
                  "title": "Benefit"
                }
              }
            }
          },
          "404": {
            "description": "Benefit not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "benefits",
        "x-speakeasy-name-override": "get",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.benefits.get(\n    '00000000-0000-4000-8000-000000000000',\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.benefits.get(\n  \"00000000-0000-4000-8000-000000000000\",\n);\nconsole.log(response);\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "benefits",
          "public"
        ],
        "summary": "Update Benefit",
        "description": "Update a benefit.\n\n**Scopes**: `benefits:write`",
        "operationId": "benefits:update",
        "security": [
          {
            "oidc": [
              "benefits:write"
            ]
          },
          {
            "pat": [
              "benefits:write"
            ]
          },
          {
            "oat": [
              "benefits:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The benefit ID.",
              "title": "Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/BenefitCustomUpdate"
                  },
                  {
                    "$ref": "#/components/schemas/BenefitDiscordUpdate"
                  },
                  {
                    "$ref": "#/components/schemas/BenefitGitHubRepositoryUpdate"
                  },
                  {
                    "$ref": "#/components/schemas/BenefitDownloadablesUpdate"
                  },
                  {
                    "$ref": "#/components/schemas/BenefitLicenseKeysUpdate"
                  },
                  {
                    "$ref": "#/components/schemas/BenefitMeterCreditUpdate"
                  },
                  {
                    "$ref": "#/components/schemas/BenefitFeatureFlagUpdate"
                  },
                  {
                    "$ref": "#/components/schemas/BenefitSlackSharedChannelUpdate"
                  }
                ],
                "title": "Benefit Update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Benefit updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Benefit",
                  "title": "Benefit"
                }
              }
            }
          },
          "404": {
            "description": "Benefit not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "benefits",
        "x-speakeasy-name-override": "update",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.benefits.update(\n    '00000000-0000-4000-8000-000000000000',\n    type='custom',\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.benefits.update(\n  \"00000000-0000-4000-8000-000000000000\",\n  {\n    \"type\": \"custom\"\n  },\n);\nconsole.log(response);\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "benefits",
          "public"
        ],
        "summary": "Delete Benefit",
        "description": "Delete a benefit.\n\n> [!WARNING]\n> Every grants associated with the benefit will be revoked.\n> Users will lose access to the benefit.\n\n**Scopes**: `benefits:write`",
        "operationId": "benefits:delete",
        "security": [
          {
            "oidc": [
              "benefits:write"
            ]
          },
          {
            "pat": [
              "benefits:write"
            ]
          },
          {
            "oat": [
              "benefits:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The benefit ID.",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Benefit deleted."
          },
          "403": {
            "description": "This benefit is not deletable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotPermitted"
                }
              }
            }
          },
          "404": {
            "description": "Benefit not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "benefits",
        "x-speakeasy-name-override": "delete",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\npolar.benefits.delete(\n    '00000000-0000-4000-8000-000000000000',\n)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nawait polar.benefits.delete(\n  \"00000000-0000-4000-8000-000000000000\",\n);\n"
          }
        ]
      }
    },
    "/webhooks/endpoints": {
      "get": {
        "tags": [
          "webhooks",
          "public"
        ],
        "summary": "List Webhook Endpoints",
        "description": "List webhook endpoints.\n\n**Scopes**: `webhooks:read` `webhooks:write`",
        "operationId": "webhooks:list_webhook_endpoints",
        "security": [
          {
            "oidc": [
              "webhooks:read",
              "webhooks:write"
            ]
          },
          {
            "pat": [
              "webhooks:read",
              "webhooks:write"
            ]
          },
          {
            "oat": [
              "webhooks:read",
              "webhooks:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "examples": [
                    "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                  ],
                  "description": "The organization ID."
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "examples": [
                      "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                    ],
                    "description": "The organization ID."
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by organization ID.",
              "title": "Organization Id"
            },
            "description": "Filter by organization ID."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Page number, defaults to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Size of a page, defaults to 10. Maximum is 100.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Size of a page, defaults to 10. Maximum is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResource_WebhookEndpoint_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "page",
              "in": "parameters",
              "type": "page"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.items",
            "numPages": "$.pagination.max_page"
          }
        },
        "x-speakeasy-group": "webhooks",
        "x-speakeasy-name-override": "list_webhook_endpoints",
        "x-polar-pagination": {
          "type": "page_limit",
          "item_schema": {
            "$ref": "#/components/schemas/WebhookEndpoint"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nfor item in polar.webhooks.iter_list_webhook_endpoints(\n    page=1,\n    limit=10,\n):\n    print(item)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nfor await (const item of polar.webhooks.iterListWebhookEndpoints(\n  {\n    \"page\": 1,\n    \"limit\": 10\n  },\n)) {\n  console.log(item);\n}\n"
          }
        ]
      },
      "post": {
        "tags": [
          "webhooks",
          "public"
        ],
        "summary": "Create Webhook Endpoint",
        "description": "Create a webhook endpoint.\n\n**Scopes**: `webhooks:write`",
        "operationId": "webhooks:create_webhook_endpoint",
        "security": [
          {
            "oidc": [
              "webhooks:write"
            ]
          },
          {
            "pat": [
              "webhooks:write"
            ]
          },
          {
            "oat": [
              "webhooks:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEndpointCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook endpoint created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "webhooks",
        "x-speakeasy-name-override": "create_webhook_endpoint",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.webhooks.create_webhook_endpoint(\n    url='https://webhook.site/cb791d80-f26e-4f8c-be88-6e56054192b0',\n    format='raw',\n    events=['checkout.created'],\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.webhooks.createWebhookEndpoint(\n  {\n    \"url\": \"https://webhook.site/cb791d80-f26e-4f8c-be88-6e56054192b0\",\n    \"format\": \"raw\",\n    \"events\": [\n      \"checkout.created\"\n    ]\n  },\n);\nconsole.log(response);\n"
          }
        ]
      }
    },
    "/webhooks/endpoints/{id}": {
      "get": {
        "tags": [
          "webhooks",
          "public"
        ],
        "summary": "Get Webhook Endpoint",
        "description": "Get a webhook endpoint by ID.\n\n**Scopes**: `webhooks:read` `webhooks:write`",
        "operationId": "webhooks:get_webhook_endpoint",
        "security": [
          {
            "oidc": [
              "webhooks:read",
              "webhooks:write"
            ]
          },
          {
            "pat": [
              "webhooks:read",
              "webhooks:write"
            ]
          },
          {
            "oat": [
              "webhooks:read",
              "webhooks:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The webhook endpoint ID.",
              "title": "Id"
            },
            "description": "The webhook endpoint ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "404": {
            "description": "Webhook endpoint not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "webhooks",
        "x-speakeasy-name-override": "get_webhook_endpoint",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.webhooks.get_webhook_endpoint(\n    '00000000-0000-4000-8000-000000000000',\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.webhooks.getWebhookEndpoint(\n  \"00000000-0000-4000-8000-000000000000\",\n);\nconsole.log(response);\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "webhooks",
          "public"
        ],
        "summary": "Update Webhook Endpoint",
        "description": "Update a webhook endpoint.\n\n**Scopes**: `webhooks:write`",
        "operationId": "webhooks:update_webhook_endpoint",
        "security": [
          {
            "oidc": [
              "webhooks:write"
            ]
          },
          {
            "pat": [
              "webhooks:write"
            ]
          },
          {
            "oat": [
              "webhooks:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The webhook endpoint ID.",
              "title": "Id"
            },
            "description": "The webhook endpoint ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEndpointUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook endpoint updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "404": {
            "description": "Webhook endpoint not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "webhooks",
        "x-speakeasy-name-override": "update_webhook_endpoint",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.webhooks.update_webhook_endpoint(\n    '00000000-0000-4000-8000-000000000000',\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.webhooks.updateWebhookEndpoint(\n  \"00000000-0000-4000-8000-000000000000\",\n  {},\n);\nconsole.log(response);\n"
          }
        ]
      },
      "delete": {
        "tags": [
          "webhooks",
          "public"
        ],
        "summary": "Delete Webhook Endpoint",
        "description": "Delete a webhook endpoint.\n\n**Scopes**: `webhooks:write`",
        "operationId": "webhooks:delete_webhook_endpoint",
        "security": [
          {
            "oidc": [
              "webhooks:write"
            ]
          },
          {
            "pat": [
              "webhooks:write"
            ]
          },
          {
            "oat": [
              "webhooks:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The webhook endpoint ID.",
              "title": "Id"
            },
            "description": "The webhook endpoint ID."
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook endpoint deleted."
          },
          "404": {
            "description": "Webhook endpoint not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "webhooks",
        "x-speakeasy-name-override": "delete_webhook_endpoint",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\npolar.webhooks.delete_webhook_endpoint(\n    '00000000-0000-4000-8000-000000000000',\n)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nawait polar.webhooks.deleteWebhookEndpoint(\n  \"00000000-0000-4000-8000-000000000000\",\n);\n"
          }
        ]
      }
    },
    "/products/": {
      "get": {
        "tags": [
          "products",
          "public"
        ],
        "summary": "List Products",
        "description": "List products.\n\n**Scopes**: `products:read` `products:write`",
        "operationId": "products:list",
        "security": [
          {
            "oidc": [
              "products:read",
              "products:write"
            ]
          },
          {
            "pat": [
              "products:read",
              "products:write"
            ]
          },
          {
            "oat": [
              "products:read",
              "products:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "description": "The product ID."
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "description": "The product ID."
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "ProductID Filter",
              "description": "Filter by product ID."
            },
            "description": "Filter by product ID."
          },
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "examples": [
                    "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                  ],
                  "description": "The organization ID."
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "examples": [
                      "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                    ],
                    "description": "The organization ID."
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "OrganizationID Filter",
              "description": "Filter by organization ID."
            },
            "description": "Filter by organization ID."
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by product name.",
              "title": "Query"
            },
            "description": "Filter by product name."
          },
          {
            "name": "is_archived",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter on archived products.",
              "title": "Is Archived"
            },
            "description": "Filter on archived products."
          },
          {
            "name": "is_recurring",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter on recurring products. If `true`, only subscriptions tiers are returned. If `false`, only one-time purchase products are returned. ",
              "title": "Is Recurring"
            },
            "description": "Filter on recurring products. If `true`, only subscriptions tiers are returned. If `false`, only one-time purchase products are returned. "
          },
          {
            "name": "benefit_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "description": "The benefit ID."
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "description": "The benefit ID."
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "BenefitID Filter",
              "description": "Filter products granting specific benefit."
            },
            "description": "Filter products granting specific benefit."
          },
          {
            "name": "visibility",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductVisibility"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by visibility.",
              "title": "Visibility"
            },
            "description": "Filter by visibility."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Page number, defaults to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Size of a page, defaults to 10. Maximum is 100.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Size of a page, defaults to 10. Maximum is 100."
          },
          {
            "name": "sorting",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductSortProperty"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
              "default": [
                "-created_at"
              ],
              "title": "Sorting"
            },
            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
          },
          {
            "name": "metadata",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "schema": {
              "$ref": "#/components/schemas/MetadataQuery"
            },
            "description": "Filter by metadata key-value pairs. It uses the `deepObject` style, e.g. `?metadata[key]=value`."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResource_Product_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "page",
              "in": "parameters",
              "type": "page"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.items",
            "numPages": "$.pagination.max_page"
          }
        },
        "x-speakeasy-group": "products",
        "x-speakeasy-name-override": "list",
        "x-polar-pagination": {
          "type": "page_limit",
          "item_schema": {
            "$ref": "#/components/schemas/Product"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nfor item in polar.products.iter_list(\n    page=1,\n    limit=10,\n    sorting=['-created_at'],\n):\n    print(item)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nfor await (const item of polar.products.iterList(\n  {\n    \"page\": 1,\n    \"limit\": 10,\n    \"sorting\": [\n      \"-created_at\"\n    ]\n  },\n)) {\n  console.log(item);\n}\n"
          }
        ]
      },
      "post": {
        "tags": [
          "products",
          "public"
        ],
        "summary": "Create Product",
        "description": "Create a product.\n\n**Scopes**: `products:write`",
        "operationId": "products:create",
        "security": [
          {
            "oidc": [
              "products:write"
            ]
          },
          {
            "pat": [
              "products:write"
            ]
          },
          {
            "oat": [
              "products:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "products",
        "x-speakeasy-name-override": "create",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.products.create(\n    name='string',\n    prices=[{'amount_type': 'fixed', 'price_amount': 0}],\n    recurring_interval='day',\n    recurring_interval_count=1,\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.products.create(\n  {\n    \"name\": \"string\",\n    \"prices\": [\n      {\n        \"amount_type\": \"fixed\",\n        \"price_amount\": 0\n      }\n    ],\n    \"recurring_interval\": \"day\",\n    \"recurring_interval_count\": 1\n  },\n);\nconsole.log(response);\n"
          }
        ]
      }
    },
    "/products/{id}": {
      "get": {
        "tags": [
          "products",
          "public"
        ],
        "summary": "Get Product",
        "description": "Get a product by ID.\n\n**Scopes**: `products:read` `products:write`",
        "operationId": "products:get",
        "security": [
          {
            "oidc": [
              "products:read",
              "products:write"
            ]
          },
          {
            "pat": [
              "products:read",
              "products:write"
            ]
          },
          {
            "oat": [
              "products:read",
              "products:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The product ID.",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "description": "Product not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "products",
        "x-speakeasy-name-override": "get",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.products.get(\n    '00000000-0000-4000-8000-000000000000',\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.products.get(\n  \"00000000-0000-4000-8000-000000000000\",\n);\nconsole.log(response);\n"
          }
        ]
      },
      "patch": {
        "tags": [
          "products",
          "public"
        ],
        "summary": "Update Product",
        "description": "Update a product.\n\n**Scopes**: `products:write`",
        "operationId": "products:update",
        "security": [
          {
            "oidc": [
              "products:write"
            ]
          },
          {
            "pat": [
              "products:write"
            ]
          },
          {
            "oat": [
              "products:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The product ID.",
              "title": "Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "403": {
            "description": "You don't have the permission to update this product.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotPermitted"
                }
              }
            }
          },
          "404": {
            "description": "Product not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-polar-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "products",
        "x-speakeasy-name-override": "update",
        "x-codeSamples": [
          {
            "lang": "Python (New SDK)",
            "source": "from polar.v2026_04 import Polar\n\npolar = Polar(\"polar_oat_xxx\")\n\nresponse = polar.products.update(\n    '00000000-0000-4000-8000-000000000000',\n)\nprint(response)\n"
          },
          {
            "lang": "TypeScript (New SDK)",
            "source": "import { createPolar } from \"@polar-sh/sdk/2026-04\";\n\nconst polar = createPolar({\n  accessToken: \"polar_oat_xxx\",\n});\n\nconst response = await polar.products.update(\n  \"00000000-0000-4000-8000-000000000000\",\n  {},\n);\nconsole.log(response);\n"
          }
        ]
      }
    },
    "/orders/": {
      "get": {
        "tags": [
          "orders",
          "public"
        ],
        "summary": "List Orders",
        "description": "List orders.\n\n**Scopes**: `orders:read`",
        "operationId": "orders:list",
        "security": [
          {
            "oidc": [
              "orders:read"
            ]
          },
          {
            "pat": [
              "orders:read"
            ]
          },
          {
            "oat": [
              "orders:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "examples": [
                    "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                  ],
                  "description": "The organization ID."
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "examples": [
                      "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                    ],
                    "description": "The organization ID."
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "OrganizationID Filter",
              "description": "Filter by organization ID."
            },
            "description": "Filter by organization ID."
          },
          {
            "name": "product_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "description": "The product ID."
                },
                {
                  "type": "array",
[...]
